<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  	<context:annotation-config></context:annotation-config>
  	<context:component-scan base-package="com.mindtree.springdemo"></context:component-scan>
  	<context:component-scan base-package="com.mindtree.two"></context:component-scan>
  	<!-- <bean id="t1" class="com.mindtree.springdemo.Train"></bean>
	<bean id="t2" class="com.mindtree.springdemo.Train"></bean>
	<bean id="p1" class="com.mindtree.springdemo.Passenger"></bean>
	<bean id="p2" class="com.mindtree.springdemo.Passenger"></bean>
	<bean id="tt" class="com.mindtree.springdemo.TrainTiming"></bean> -->

</beans>